{% comment %}

inputs:
  nav  (data. can have: text, url, subitems, nolink)
  navbase  (link base)


{% endcomment %}
{% assign pageurl = page.url | remove: 'index.html' %}
<ul class="nav">
{% for item in include.nav %}
    {% assign itemurl = item.url | prepend: include.navbase %}
    {% assign itemsize = itemurl | size %}
    {% assign pageprefix = pageurl | slice: 0, itemsize %}
    <li{% if item.subitems %} class="collapsible{% if pageprefix != itemurl %} collapsed{% endif %}"{% endif %} id="{{ itemurl }}">
    {% if item.nolink %}
        {{ item.text }}
    {% else %}
        <a href="{{ itemurl }}"{% if itemurl == pageurl %} class="navonpage"{% endif %}>{{ item.text }}</a>
    {% endif %}
    {% if item.subitems %}
        {% include nav.html nav=item.subitems toplevel='no' navbase=include.navbase %}
    {% endif %}
    </li>
{% endfor %}
</ul>
