html {
  background-color: $site-background;
}
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  font-kerning: normal;
  background-color: $background-color;
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
  }
}

/**
 * Wrapper
 */
.wrapper {
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @include media-query($on-laptop) {
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
  
  @media print {
    padding: 0; /* print doesn't need extra space */
  }

  @extend %clearfix;
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid $site-accent-color;
  border-bottom: 1px solid $grey-color-light;
  font-family: $header-font-family;
  font-weight: 700;
  background-color: $light-background;
}

.site-title {
  @include relative-font-size(2.5);
  //letter-spacing: -1px;
  display:block;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  border-bottom: 5px solid $site-accent-color;
  padding: $spacing-unit 0;
  font-size: $small-font-size;
  color: $blockquote-color;
  font-style: italic;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  letter-spacing: -1px;
  line-height: 1;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}


