---
---
@charset "utf-8";

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;

$small-font-size:  $base-font-size * 0.875 !default;

$header-font-family: Times, "times new roman", serif !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$brand-color:      #2a7ae2 !default;
$link-color:       #2a7ae2 !default;
$site-accent-color: #c9afe9 !default;

$background-color: #fdfdfd !default;
$site-background:  #6f6878 !default;
$background-color: #fdfdfd !default;
$light-background: #f5f5f5 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$blockquote-color: darken($grey-color, 15%) !default;

$content-width:    850px !default;
$on-palm:          600px !default;
$on-laptop:        810px !default;

$code-font-size:   15px !default;
$code-background:  #eaeaf1 !default;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "nav"
;
