<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
	
	<!-- Stuff for the right menu goes here. Hardcoded for now. -->
	<div class="site-right-sidebar">
		<h3>Useful Links</h3>

		<div>
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">ACM</a>
		</div>

		<div>
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">University of Minnesota</a>
		</div>
	</div>

    <div class="site-nav">
      {% include nav.html nav=site.data.sv_wiki navbase=site.sv_wiki_base %}
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
