<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
	
	<!-- Stuff for the right menu goes here. Hardcoded for now. -->
	<div class="site-right-sidebar">
          <!--  Commenting out until we know what to put here.
		<h3>Useful Links</h3>

		<div>
			<a href="http://twin-cities.umn.edu/" target="_blank">University of Minnesota</a>
		</div>

		<div>
			<a href="http://www.acm.org/" target="_blank">ACM</a>
		</div>
           -->
	</div>

    <div class="site-nav">
      {% include nav.html nav=site.data.sv_wiki navbase=site.sv_wiki_base %}
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
